[Unit]
Description=Simple yamui splash screen for SailfishOS
Before=sailfish-unlock-agent.service
Before=start-user-session.service
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target
# To avoid starting again when swichting from emergency-call.target to graphical.target
ConditionPathExists=!/run/yamuisplash/done

[Service]
Type=notify
Restart=no
EnvironmentFile=-/var/lib/environment/compositor/*.conf
ExecStartPre=/bin/touch /run/yamuisplash/done
ExecStart=/usr/bin/yamui --systemd /usr/share/yamuisplash/sailfish_logo_rgb.png
RuntimeDirectory=yamuisplash
RuntimeDirectoryPreserve=yes
